@model IEnumerable<PersonApp.Models.custom_setting>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.admin_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.smtp_domain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.port)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.notify_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.theme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.admin_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.smtp_domain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.port)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notify_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.theme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
